- model_class = CourseEvaluation
.page-header

.row
  .col-md-10.col-md-offset-1
    %ul#rating
      %li
        %a{:href => "#"} Muy facil
      %li
        %a{:href => "#"} Facil
      %li
        %a{:href => "#"} Normal
      %li
        %a{:href => "#"} Dificil
      %li
        %a{:href => "#"} Muy dificil

%script{:src => "/assets/course_evaluations.js" }