- model_class = ProfessorEvaluation
.row
  .page-header
    %h1.title.text-center
      - p = Professor.find(params[:professor_id])
      = "Evaluación para #{p.name} #{p.last_name}"
  = render :partial => "form"
