.row
  .col-md-10.col-md-offset-1
    %div{:role => "tabpanel", class: 'horizontal-tabs'}
      / Nav tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active.profile-tab{:role => 'presentation', path: '/notifications', div: '#notifications'}
          %a{"aria-controls" => "notification", "data-toggle" => "tab", :href => "#notifications", :role => "tab"} Notificaciones
        - if current_user.provider != 'facebook'
          %li.profile-tab{:role => 'presentation', path: '/users/edit', div: '#edit-profile'}
            %a{"aria-controls" => "edit-profile", "data-toggle" => "tab", :href => "#edit-profile", :role => "tab"} Editar perfil
        - if current_user.role == 'admin'
          %li.profile-tab{:role => 'presentation', path: '/professors/pending', div: '#pending-professors'}
            %a{"aria-controls" => "pending-professors", "data-toggle" => "tab", :href => "#pending-professors", :role => "tab"} Profesores pendientes
          %li.profile-tab{:role => 'presentation', path: '/courses/pending', div: '#pending-courses'}
            %a{"aria-controls" => "pending-courses", "data-toggle" => "tab", :href => "#pending-courses", :role => "tab"} Cursos pendientes

      / Tab panes
      .tab-content
        #notifications.tab-pane.active{:role => "tabpanel"}
          %h4
            No tiene notificaciones.
        #edit-profile.tab-pane{:role => "tabpanel"}
        #pending-professors.tab-pane{:role => "tabpanel"}
          %h4
            No hay profesores pendientes de aceptación.
        #pending-courses.tab-pane{:role => "tabpanel"}
          %h4
            No hay cursos pendientes de aceptación.

%script{:src => "/assets/profile.js" }