- model_class = Professor
.page-header

  #sorts.button-group
    %button.button.is-checked{"data-sort-by" => "original-order"} Orden Original
    %button.button{"data-sort-by" => "name"} Nombre
    %button.button{"data-sort-by" => "score"} Calificacion

  %hr
  .row
    .col-md-10.col-md-offset-1
      .isotope
        - @professors.each do |professor|
          %a{:href => '#'}
            .element-item
              %h3.name= professor.name + ' ' + professor.last_name
              %p.label Calificacion promedio
              %p.score= professor.overall_score
  %hr
  
%script{:src => "/assets/professors.js" }