.row
  .col-md-6.col-md-offset-3
    %hr
    %hr
    %table.table.table-striped
      %thead
        %tr
          %th
            %h4 Criterio de evaluacion
          %th
            %h4 Calificacion promedio
        %tr
          %td
            %h5 Puntualidad de llegada
          %td
            %h5

