- model_class = Professor
.page-header
  
  %h1.text-center.title= @professor.name + ' ' + @professor.last_name

.row
  .col-md-10.col-md-offset-1
    %p.diff-label Calificacion promedio del profesor:  
    %p.diff-num= @professor.overall_score
    %button.eval-button
      Evaluar profesor
      %i.fa.fa-pencil-square-o
    
    .prof-list
      %h3 Lista de cursos impartidos:
      %br
      
      .row
        .col-md-10.col-md-offset-1
          #list8
            %ul
              - @professor_courses.each do |course|
                %li.text-center
                  %a{:href => "#"}= course.name
      %hr

    %section#comment-section
      %h3.text-center Comentarios
    %button.show-comments-button
      Mostrar Comentarios
      %i.fa.fa-comments
    %hr