- model_class = School
.page-header
  %h1.title 
    %i.fa.fa-book Escuelas
  %hr

  #sorts.button-group
    %button.button.is-checked{"data-sort-by" => "original-order"} Orden Original
    %button.button{"data-sort-by" => "name"} Nombre

  %hr
  .row
    .col-md-10.col-md-offset-1
      .isotope
        - @schools.each do |school|
          %a{:href => school_courses_professors_path(school_id: school.id)}
            .element-item
              %h3.name= school.name
  %hr
  
%script{:src => "/assets/schools.js" }