- model_class = School

.page-header
  %h1.text-center
    %i.fa.fa-book Escuelas
  %hr

  #sorts.button-group
    %button.button.is-checked{"data-sort-by" => "original-order"} Orden Original
    %button.button{"data-sort-by" => "name"} Ordenar por Nombre

  %hr
  .row
    .col-md-10.col-md-offset-1
      .isotope
        - @schools.each do |school|
          %a{:href => school_courses_professors_path(school_id: school.id)}
            .element-item
              %svg
                %line.top{:x1 => "0", :x2 => "900", :y1 => "0", :y2 => "0"}
                %line.left{:x1 => "0", :x2 => "0", :y1 => "460", :y2 => "-920"}
                %line.bottom{:x1 => "300", :x2 => "-600", :y1 => "460", :y2 => "460"}
                %line.right{:x1 => "300", :x2 => "300", :y1 => "0", :y2 => "1380"}
              %h3.name= school.name

= link_to 'Atras', root_path, :class => 'btn btn-default'
%hr

%script{:src => "/assets/schools.js" }