- model_class = Course
.page-header

  #sorts.button-group
    %button.button.is-checked{"data-sort-by" => "original-order"} Orden Original
    %button.button{"data-sort-by" => "name"} Nombre
    %button.button{"data-sort-by" => "difficulty"} Dificultad

  = link_to 'Agregar curso', new_school_course_path, :class => 'button eval-button'

  %hr
  .row
    .col-md-10.col-md-offset-1
      .isotope
        - @courses.each do |course|
          %a{:href => '#'}
            .element-item
              %svg
                %line.top{:x1 => "0", :x2 => "900", :y1 => "0", :y2 => "0"}
                %line.left{:x1 => "0", :x2 => "0", :y1 => "460", :y2 => "-920"}
                %line.bottom{:x1 => "300", :x2 => "-600", :y1 => "460", :y2 => "460"}
                %line.right{:x1 => "300", :x2 => "300", :y1 => "0", :y2 => "1380"}
              %h3.name= course.name
              %p.label Dificultad promedio
              %p.difficulty= course.overall_difficulty
  %hr
  
%script{:src => "/assets/courses.js" }