- model_class = Course
.page-header

  #sorts.button-group
    %button.button.is-checked{"data-sort-by" => "original-order"} Orden Original
    %button.button{"data-sort-by" => "name"} Nombre
    %button.button{"data-sort-by" => "difficulty"} Dificultad

  %hr
  .row
    .col-md-10.col-md-offset-1
      .isotope
        - @courses.each do |course|
          %a{:href => '#'}
            .element-item
              %h3.name= course.name
              %p.label Dificultad promedio
              %p.difficulty= course.overall_difficulty
  %hr
  
%script{:src => "/assets/courses.js" }