- model_class = Course
.page-header

  %h1.text-center.title= @course.name

.row
  .col-md-10.col-md-offset-1
    %p.diff-label Dificultad general del curso:  
    %p.diff-num= @course.overall_difficulty
    %button.eval-button
      Evaluar curso
      %i.fa.fa-pencil-square-o
    
    .prof-list
      %h3 Lista de profesores
      %br
      
      .row
        .col-md-10.col-md-offset-1
          #list8
            %ul
              - @course_professors.each do |professor|
                %li.text-center
                  %a{:href => "#"}= professor.name + ' ' + professor.last_name
      %hr

    %section#comment-section
      %h3.text-center Comentarios
    %button.show-comments-button
      Mostrar Comentarios
      %i.fa.fa-comments
    %hr
