// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h2, #sorts {
  margin-left: 20px;
}

button {
  border: 0;
  background: #873c36;
  border-radius: 4px;
  box-shadow: 0 5px 0 #60231f;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  font-weight: bold;
  margin-right: 10px;
}

button:active {
  box-shadow: 0 2px 0 #60231f;
  transform: translateY(3px);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { 
  border-radius: 0.5em 0 0 0.5em; 
}
.button-group .button:last-child { 
  border-radius: 0 0.5em 0.5em 0; 
}

/* clear fix */
.isotope {
  margin: 0 auto;
}

.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.element-item {
  border: 0;
  border-radius: 5px;
  position: relative;
  float: left;
  width: 200px;
  height: 150px;
  margin: 5px;
  padding: 10px;
  background: #588C7E;
}

.element-item:hover {
  background: #33564c;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  margin-top: 10px;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0px;
  font-size: 2em;
  font-weight: bold;
  color: #eee;
}

.element-item .difficulty {
  position: absolute;
  right: 8px;
  bottom: 5px;
  font-size: 1.2em;
  color: #eee;
}

.element-item .label {
  position: absolute;
  left: 8px;
  bottom: 8px;
  font-size: 1.2em;
  color: #eee;
}

#list8 {
  margin: 0 auto;
  text-align: center;
}

#list8 ul { 
  list-style: none; 
}

#list8 ul li {
  font-family: Georgia,serif,Times;
  font-size: 18px;
  font-weight: bold;
  padding: 2px;
}

#list8 ul li a {
  display: block;
  width: 500px;
  height: 40px;
  background-color: #588C7E;
  border-left: 6px solid #33564c;
  border-right: 6px solid #33564c;
  padding-left: 10px;
  text-decoration: none;
  color: #eee;
  padding: 6px;
}

#list8 ul li a:hover {
  -moz-transform:rotate(3deg);
    -moz-box-shadow:10px 10px 20px #000000;
  -webkit-transform:rotate(3deg); 
    -webkit-box-shadow:10px 10px 20px #000000;
  transform: rotate(3deg); 
  box-shadow: 10px 10px 20px #000000;
}

.diff-label {
  font-size: 1.7em;
  float: left;
  margin-right: 20px;
}

.diff-num {
  font-size: 4em;
  font-weight: bold;
}

.eval-button {
  float: right;
}

.prof-list {
  clear: both;
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

svg line {
	stroke-width: 6;
	stroke: white;
	fill: none;
	-webkit-transition: -webkit-transform .8s ease-out;
	transition: transform .8s ease-out;
}

.element-item svg line.top,
.element-item svg line.bottom {
	stroke-dasharray: 330 240; 
}

.element-item svg line.left,
.element-item svg line.right {
	stroke-dasharray: 490 400;
}

.element-item:hover svg line {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.element-item:hover svg line.top {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
}

.element-item:hover svg line.bottom {
	-webkit-transform: translateX(600px);
	transform: translateX(600px);
}

.element-item:hover svg line.left {
	-webkit-transform: translateY(920px);
	transform: translateY(920px);
}

.element-item:hover svg line.right {
	-webkit-transform: translateY(-920px);
	transform: translateY(-920px);
}