/*Styles for the profile page*/
.buttons-container {
  margin-top: 60px;
}

.accept-button {
  color: #5CB85C;
  margin-right: 10px;
}

.reject-button {
  color: #DC5050;
}

.accept-button:hover {
  color: #416E41;
}

.reject-button:hover {
  color: #8D3333;
}

.item-box {
  width: 80%;
  margin: 0 auto;
  border-bottom: 2px solid #D96459;
  border-right: 5px solid #D96459;
  margin-bottom: 65px;
  background-color: #E8E8E8;
  border-top-left-radius: 10px;
}

.edit-profile-panel {
  margin: 0 auto !important;
}