// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h2, #sorts {
  margin-left: 20px;
}

button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  font-weight: bold;
  margin-right: 10px;
}

button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { 
  border-radius: 0.5em 0 0 0.5em; 
}
.button-group .button:last-child { 
  border-radius: 0 0.5em 0.5em 0; 
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.element-item {
  border: 0;
  border-radius: 5px;
  position: relative;
  float: left;
  width: 265px;
  height: 165px;
  margin: 5px;
  padding: 10px;
  background: #0087cc;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  margin-top: 10px;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0px;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.element-item a {
  display: none;
}

.element-item:hover a {
  display: block;
}