/* Styles for horizontal tabs */

.horizontal-tabs {
  margin: 0 auto;
  margin-top: 40px;
}

.nav-tabs a {
  color: #588C7E;
  font-weight: bold;
}

.tab-content {
  margin: 0 auto;
  margin-top: 8%;
}