// Place all the styles related to the Universities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.university-link {
  font-size: 1.2em;
  float: right;
  margin-top: 10px;
}

.university-title {
  font-size: 1.2em;
  font-weight: bold;
}

.banner {
  border-radius: 20px;
}

.university-banner {
  border: 5px solid #588C7E;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.university-banner:hover {
  border: 5px solid #38544c;

  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);

  opacity: 1;
  filter: alpha(opacity=100);
}

#universities-section:hover .university-banner:not(:hover) {
  opacity: 0.8;
  filter: alpha(opacity=80);

  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  transform: scale(.9);
}